

.education{
    background: var(--color-background-primary);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.education .heading{
    font-size: 60px;
    font-weight: 700;
   
}
.linetemp{
    position:sticky;
    max-width: 1200px;
    margin: 100px auto;
    width: 100%; 
}
.container1{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container1:nth-child(1){
    animation-delay: 0s;
}
.container1:nth-child(2){
    animation-delay: 1s;
}
.container1:nth-child(3){
    animation-delay: 2s;
}
.container1:nth-child(4){
    animation-delay: 3s;
}
.container1:nth-child(5){
    animation-delay: 4s;
}
.container1:nth-child(6){
    animation-delay: 5s;
}
.container1:nth-child(7){
    animation-delay: 6s;
}




.text-box{
    padding: 20px 30px;
    background: var(--color-primary);
    position: relative;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.text-box:hover{
    filter: drop-shadow(0 0 25px var(--color-primary));
    transform : scale(1.01)
}
.left-container{
    left: 0;
   
}
.right-container{
    left: 50%;
   
}
.container1 img{
    position: absolute;
    width:40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10; 
    border :2px solid var(--color-primary);
}
.right-container img{
    left: -20px;
}

.left-container img{
    order: 2;
}
.linetemp::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--color-primary);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards; 
}


@keyframes moveline {
    0%{
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h2{
    font-size: 25px;
    font-weight: 700;

}
.text-box small{
    display: inline;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.708);
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--color-primary);
    right: -14.7px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--color-primary);
    left: -14.7px;
}

@media screen and (max-width:600px) {
   .linetemp{
    margin: 50px auto;

   }
   .linetemp::after{
    left:31px;
   } 
   .container1{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
   }
   .text-box{
    font-size: 13px;
   }
   .text-box small{
    margin-bottom: 10px;
   }
   .right-container{
    left: 0;
   }
   .left-container img, .right-container img{
    left: 10px;
   }
   .left-container-arrow , .right-container-arrow{
    border-right: 15px solid var(--color-primary);
    border-left: 0;
    left: -15px;
   }
    
}